@import "colors.css";

* {
  font-family: "Monaspace Neon NF", "Symbols Nerd Font Mono", monospace;
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  border-radius: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #e0e0e0;
  transition: all 0.3s ease;
}

#workspaces {
  margin: 4px 4px;
  padding: 1px 1px;
  border-radius: 12px;
}

#workspaces button {
  padding: 0px 2px;
  color: @secondary;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
}

#workspaces button.active {
  color: @on_primary_container;
  border-radius: 8px;
  border: 1px solid @outline_variant;
  background-color: @surface_variant;
  /* box-shadow: inset 0 -2px 0 0 @primary; */
}

#workspaces button.urgent {
  color: @error;
  background-color: @error_container;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#power-profiles-daemon,
#language,
#pulseaudio,
#tray,
#bluetooth,
#window {
  padding: 0 8px;
  margin: 4px 0px;
  border-radius: 8px;
  background: @surface_container_low;
  /* border-color: @outline_variant; */
  /* border: 1px solid; */
}

#tray{
  margin: 4px 4px
}

#clock {
  color: @primary;
  font-weight: 700;
}

#battery {
  color: @primary;
}

#battery.critical:not(.charging) {
  background-color: @error_container;
  color: @error;
  animation-name: pulse_alert;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#pulseaudio {
  color: @secondary;
}

#network {
  color: @tertiary;
}

#cpu {
  color: @on_primary;
}

#memory {
  color: @on_secondary;
}

#language {
  color: @primary;
}

#power-profiles-daemon {
  color: @tertiary;
}

@keyframes pulse_alert {
  from {
    background-color: @error_container;
    box-shadow: 0 0 0 0 @error;
  }
  to {
    background-color: @error;
    box-shadow: 0 0 4px 2px @error;
  }
}

tooltip {
  background: @surface_container;
  border: 1px solid @outline_variant;
  border-radius: 10px;
}

tooltip label {
  color: @on_surface;
  padding: 8px;
}
